# Build artifacts
build/
cmake-build-*

# IDF
sdkconfig
sdkconfig.old
sdkconfig.local
idf_*.log
idf_app/dependencies.lock

# Node modules
roon-extension/node_modules/
roon-extension/config.json
roon-extension/data/
roon-extension/test-data/

# Beads db
.beads/
idf_app/managed_components/*
idf_app/sdkconfig.override
.agneto/
.claude/
.superego/
