# Build artifacts
build/
cmake-build-*

# IDF
sdkconfig
sdkconfig.old
sdkconfig.local
idf_*.log
esp_dial/dependencies.lock

# Node modules

# Beads db
.beads/
esp_dial/managed_components/*
esp_dial/sdkconfig.override
.agneto/
.claude/
.superego/
.wm/
.cache/
