# Build artifacts
build/
cmake-build-*

# IDF
sdkconfig
sdkconfig.old
idf_*.log

# Node modules
roon-extension/node_modules/
roon-extension/config.json

# Beads db
.beads/
idf_app/managed_components/*
