menu "HiPhi M5 platform qualification"

choice M5_PLATFORM_EXPECTED_BOARD
    prompt "Expected physical M5 board"
    default M5_PLATFORM_EXPECT_ANY

config M5_PLATFORM_EXPECT_ANY
    bool "Any supported board"
config M5_PLATFORM_EXPECT_ATOMS3_JOYSTICK
    bool "AtomS3 + Atom JoyStick"
config M5_PLATFORM_EXPECT_TOUGH
    bool "M5Stack Tough"
config M5_PLATFORM_EXPECT_DIAL
    bool "M5 Dial"
config M5_PLATFORM_EXPECT_STICKS3
    bool "M5StickS3"
config M5_PLATFORM_EXPECT_STOPWATCH
    bool "M5Stack StopWatch"
config M5_PLATFORM_EXPECT_STACKCHAN
    bool "M5StackChan"
endchoice

endmenu
